<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Java Demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css" />
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="errors-container">
      <tmpl_if errors>
        <tmpl_loop errors>
            <p style="color: red"><tmpl_var error></p>
        </tmpl_loop>
      </tmpl_if>
    </div>
    <div class="new-appointment-container">
      <button id="new-appt-btn">New</button>
      <form id="new-appt-form" action="./cgi-bin/index.cgi" method="POST">
        <input name="date" type="text" placeholder="Date" />
        <input name="time" type="text" placeholder="Time" />
        <input name="desc" type="text" placeholder="Description" />
        <input type="submit" value="Submit" />
      </form>
    </div>
    <div class="search-container" action="./cgi-bin/index.cgi" method="GET">
      <input id="search-input" type="text" placeholder="Search Appointments" /> 
      <button id="search-submit">Submit</button>
    </div>
    <div class="appointments-table-container">
      <table id="appts-table">
        <tmpl_if appts>
          <tmpl_loop appts>
            <tr>
              <td><tmpl_var date></td>
              <td><tmpl_var time></td>
              <td><tmpl_var desc></td>
            </tr>
          </tmpl_loop>
        </tmpl_if>
      </table>
    </div>
    <script>
      $('#new-appt-btn').click(function() {
        $('#new-appt-form').css('display', 'block');
      });
    </script>
  </body>
</html>